.box {
    margin: 30px auto;
    width: 500px;
    border-radius: 10px;
    padding:0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCD0D5;
}
form {
    /* display: flex; */
    justify-content: space-between;
    border-radius: 15px solid #000;
}
h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
}
.dau_vao {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}
.dau_vao input {
    z-index: 1;
    height: 40px;
    width: 100%;
    color: #000;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
.eye{
    padding: 0 10px;
    color: #cecece;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: 0; /* Điều chỉnh khoảng cách từ bên phải */
    top: 70%;
    transform: translateY(-50%); /* Giữa vertial */
    /* pointer-events: none; Giúp không cản trở sự tương tác với input */
}
.gioi_tinh {
    margin: 15px 0;
}
.gioi_tinh p {
    margin-bottom: 10px;
}
.btn-dangKy{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.btn-dangKy button {
    background: #87CEFA;
    color: #2F4F4F;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    border-radius: 5px;
    width: 50%;
}
