/* .container{
    display: flex;
    border-bottom: 2px solid #e7e7e7;
}
.left-container{
    display: flex;
    flex-direction: column;
}

.bannerDoc img{
    width: 266px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 10px 10px 2px;
    margin-top: 30px;
    border-radius: 10px;
}
.right-container{
    margin: 20px 0 0 55px;
}
.tieude{
    margin-top: 10px;
    font-size: 24px;
    color: #c4596c;
}
.products{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    justify-content: space-around;
}
.product{
    margin: 25px 30px;
    padding: 15px;
    border: 1px solid  rgb(210, 202, 202);
    border-radius: 10px;
}
.product img{
    cursor: pointer;
    width: 180px;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px 2px;
}
.price{
    font-size: 20px;
    color: #737373;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product button{
    background-color: #28c361;
    padding: 8px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn a{
    font-size: 18px;
    text-decoration: none;
    color: white;    
} */