h3{
    text-align: center;
}
.error {
    color: red;
    display: none;
}
.form-info{
    display: flex;
    justify-content: center;
}
.info-left{
    border-top: 2px solid #b3b3b3;
    width: 480px;
    padding: 0 10px;
    border-bottom: 2px solid #b3b3b3;
}
.info input{
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* Đổ bóng */
}
.info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.info label{
    font-size: 18px;
}
.agree{
    margin: 20px 0 10px 0;
    word-wrap: break-word;
}
textarea{
    width: 460px;
    height: 70px;
    padding: 10px;
}
.info-right{
    margin-left: 30px;
    padding: 0 20px;
    width: 480px;
    border: 2px solid #000000;
}
.cart-info{
    display: flex;
    justify-content: space-between;
}
.product-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-info{
    border-bottom: 1px solid #dddddd;
    align-items: center;
    padding: 10px 0;
}
.cart-info img{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}
.payment{
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}
.payment input{
    margin-top: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.btn button{
    background-color: #28c361;
    padding: 8px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;    
    font-size: 18px;

}
