body{
    background-color: #f4f5f7;
}
.trangchu{
    padding:0 20px;
    display: flex;
    flex-direction: column;
    width: 330px;
    font-size: 26px;
    background-color: #dbdbdb;
    height: auto;
}
p{
    font-size: 26px;
    margin: 15px 0;
}
.tieude{
    border-bottom: 1px solid #b3b3b3;
}
.tieude i{
    margin-right: 5px;
}
img{
    margin: 20px 100px;
    border-radius: 5px;
    width: 120px;
    height: 100px;
}
a{
    padding-left: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #6c6c6c;
    margin: 20px;
}
.list-tieude{
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.danhmuc{
    padding-bottom: 10px;
    border-bottom: 1px solid #b3b3b3;
}